#  Copy this file as config.py and fill in the appropriate values

COMPUTE = {
    'arch': 'x86',
}

KAMAKI = {
    'compute_url': 'https://cyclades.example.com/compute/v2.0/',
    'astakos_url': 'https://accounts.example.com/identity/v2.0/',
    'network_url': 'https://cyclades.example.com/network/v2.0'
}

KEYSTONE_URL = 'https://okeanos-astavoms.example.com'
HOSTNAME = 'https://this-host.example.com'
PASTEDEPLOY = '/home/user/snf-occi/snfOCCI/paste_deploy/snf-occi-paste.ini'
